<a href="https://colab.research.google.com/github/zombe962/2021_math_python/blob/main/%ED%86%B5%EA%B3%84_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dictionary

{ keys : value }

In [10]:
a = {"name":"jiwoo","age":18, "charater":"kind", "weight":65, "height":180}
print(a['name'])
print(a['age'])

del a['height'] # 삭제
print(a)

a['height'] = 190   # 추가
print(a)

jiwoo
18
{'name': 'jiwoo', 'age': 18, 'charater': 'kind', 'weight': 65}
{'name': 'jiwoo', 'age': 18, 'charater': 'kind', 'weight': 65, 'height': 190}

# 도수분포표
count 하기

In [15]:
import numpy as np

birthday = 1,1,2,3,5,2,6,4,8,10,1,11,9,10,3,8,7,6,8,3
print(type(birthday))
jo = np.zeros(3)
print(jo)
for i in birthday:
    jo[i//4] += 1

print(jo)

<class 'tuple'>
[0. 0. 0.]
[8. 5. 7.]