<a href="https://colab.research.google.com/github/zombe962/2021_math_python/blob/main/%ED%86%B5%EA%B3%842_pandas_%EC%99%80_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas.Series(도수, 계급)

In [10]:
import pandas as pd
import numpy as np

birthday = 1,1,2,3,5,2,6,4,8,10,1,11,9,10,3,8,7,6,8,3

jo = np.zeros(3)
for i in birthday:
    jo[i//4] += 1
print(jo)

yoon = ['0~4', '4~8', '8~12']
do = pd.Series(jo, index = yoon, dtype=int) #pd.Series(도수, 계급)
print(do)

[8. 5. 7.]
0~4     8
4~8     5
8~12    7
dtype: int64

In [12]:
e = {'a':15,'b':10,'c':5,'d':3}
print(pd.Series(e))
print(type(pd.Series(e)))

a    15
b    10
c     5
d     3
dtype: int64
<class 'pandas.core.series.Series'>